<div class="container" style="background-color:lightcyan">
        <div style="background-color:lime;text-decoration-style: double;" class="jumbotron"><h1>Expereince the new Quote app in the city!</h1><hr >
    <p>you can start making and uploading your posts NOW!!!!</p>
    <p style="text-decoration-color: bisque;">TO UPVOTE OR DOWNVOTE A QUOTE,CLICK EITHER THE THUMBS-UP OR THUMBS-DOWN ICONS RESPECTIVELY</p></div>
    <div class="row">
        <div class="col-md-6">
    <ul>
        <li *ngFor='let quote of quotes;let i=index'>{{quote.title}} authored by {{quote.author}}
            <app-quote-detail [quote]='quote' (clear)="quoteDeleted($event,i)"></app-quote-detail>
            <p>posted by {{quote.name}} :{{quote.completeDate|dateCount}}</p>
          
        </li>
    </ul>
        </div>
    <div class="col-md-6" >
        <app-quote-form (addQuote)="quotePlus($event)"></app-quote-form>
    </div>

    
</div>
</div>