<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="card">
    <div class="card-body" style="background-color: aquamarine;">
      <i appApphighlight class="fa fa-quote-left"></i>{{quote.detail}}<i class="fa fa-quote-right"></i>
      </div>
    <div class="card-footer">
     <button type="button"class="btn btn-primary btn-sm">{{quote.likes}} </button><i class="fa fa-thumbs-up"  style="color:green;size:100px" (click)="upvote()"></i><button type="button" class="btn btn-warning btn-sm">{{quote.dislikes}}</button><i  class="fa fa-thumbs-down" style="color:red"(click)="downvote()"></i>
     
     </div>
</div>