<div class="container-fluid">
        <h2 class="text-center">Post a new quote</h2>
        <hr>
        <form (ngSubmit)='submitQuote()'#quoteform="ngForm" style="background-color: skyblue;">
            <div class="form-group">
      
                <label for="name">Name:</label>
                <input type="text" required class="form-control" id="name" [(ngModel)]="newQuote.name" name="name" #name="ngModel">
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger"></div>
      
            </div>
            <div class="form-group">
      
                <label for="title">Tile of the post:</label>
                <input type="text" required class="form-control" id="title" [(ngModel)]="newQuote.title" name="title" #title="ngModel">
                <div [hidden]="title.valid || title.pristine" class="alert alert-danger"></div>
      
            </div>
            <div class="form-group">
      
                    <label for="author">Author of the Post:</label>
                    <input type="text" class="form-control" id="author" rows="4" [(ngModel)]="newQuote.author" name="author" #author="ngModel"required>
                    <div [hidden]="author.valid || author.pristine" class="alert alert-danger" required><p>required</p>
          
                </div>
            </div>
            <div class="form-group">
                <label for="details">Post:</label>
                <textarea class="form-control" id="description" rows="4" [(ngModel)]="newQuote.detail" name="detail" #detail="ngModel"required></textarea>
                <div [hidden]="detail.valid || detail.pristine" class="alert alert-danger"><p>required</p>
      
            </div>
            <p>{{newQuote.detail}}</p>
        </div>
            <div class="form-group">
                <label for="complete">Date:</label>
                <input type='date' id="complete" required [(ngModel)]="newQuote.completeDate" name="Date" #completeDetail="ngModel">
                
            </div>
            <button type="submit" class="btn btn-primary">Submit your post</button>
        </form>
      </div>
